@import "bootstrap.min";
@import "style_onik";
@import "style_julie";
@import "style_pauline";
@import "style_ayoub";
@import "responsive";
$orange : #FF6600 ;
$blue : #3333FF;
$pink : #FF99FF;
$green: #66FF00;

body {
    height: 100vh;
    
}
.signal {
    width: 400px;
    height: 150px;
    background-color: black;
    color: white;
    font-size: 4em;
    font-family: 'Baloo Bhaijaan', cursive;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.blue {

    background-color: $blue ;
    height: 100vh;
}
.orange {

    background-color: $orange ;
}
.pink {

    background-color: $pink ;
}
.green {

    background-color: $green ;
}
